// colors
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$body-bg: #cccccc;
$restaurant-label-bg: #99e2d0;
$restaurant-label-color: #4e756b;
$location-bg: #eaeaea;
$home-bg: #f5f5f5;
$footer-bg: #353535;

// grid
$grid-gutter: 20px;
$grid-width-gutter: $grid-gutter * 2;
